@charset "utf-8";

h1 {
	text-align: center;
	text-decoration: underline;
}


nav {
 position:absolute;
  top:75px;
  left:25px;
}

nav ul {
  margin:0;
  height:40px;
  width:auto;
  float:left;
  box-shadow:0px 0px 32px 0px  #111;
  border-radius:10px;
  padding:0;
  border-top:1px solid #444;
  border-bottom:1px solid #222;
         }
nav ul li {
 position:relative;
 padding:10px;
 float:left;
 list-style:none;
 color:#999;
 background:#333;
 width:120px; /*dropdown breite*/
 text-align:center;
 border-right:1px solid #444;
 transition:all 800ms;
   }
nav ul li:hover {
   background:#0C6;
   color:#fff;
 }
nav ul li:last-child {
   border-radius:0 10px 10px 0;
 }
nav ul li:first-child {
   border-radius:10px 0 0 10px;
 }

nav ul li:hover ul {
   height:auto;
   opacity:1;
 }
nav ul li ul {
   position:absolute;
   top:45px;
   left:0;
   transition:all 800ms;
   opacity:0;
   overflow:hidden;
   height:0;
 }
nav ul li ul li:last-child {
   border-radius:0 0 10px 10px;
 }
nav ul li ul li {
   width:150px;
   text-align:left;
 }
nav ul li ul li:first-child {
   border-radius:10px 10px 0 0;
 }


nav li a {
    display: block;
    color: #000;
    padding: 12px 4px;
    text-decoration: none;
}

nav li a.active {
    background-color: #4CAF50;
    color: white;
}

nav li a.notactive {
    background-color: #555;
    color: white;
}

nav li.notactive
